{% load static %}
<div class="movie-card">
    <div class="img2">
        <img src="{% static 'users/imdblogo.png' %}" id="img2" width="20%">
    </div>

    <div class="card-content">
        <h3>{{title}}</h3>
        <p class="review">
            <b>Language:</b> {{language}} <br>
            <b>Genre:</b> {{genre}} <br>
            <b>Year :</b>  {{year}} <br>
            <b>Production :</b> {{production}} <br>
            <span class="dots">...</span><span class="more">
                <b>Duration :</b> {{duration}} <br>
                <b>Rating :</b> {{rating}} <br>
                <b>Director :</b> {{director}} <br>
                <b>Writer :</b> {{writer}} <br>
                <b>Actors :</b>{{actors}} <br>
                <b>Description :</b> {{description}} <br>

            </span>
        </p>

        <button class="lang_btn myBtn" onclick="myFunction()" >Read more</button>
    </div>
</div>