{% extends 'users/layout.html' %}

{% load static %}

{%block head%}
<title>Language preference</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Georgia' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Montserrat\Alternates' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=PT\ Sans' rel='stylesheet'>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'users/prefer.css' %}">

<script>
    colors = ['red', 'green', '#bbbb27', 'blue', 'orange']
    document.addEventListener('DOMContentLoaded', () => {
        buttons = document.querySelectorAll('label');
        for (i = 0; i < buttons.length; i++) {
            buttons[i].style.backgroundColor = colors[i % colors.length];
            //buttons[i].style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
        }
    })
</script>

<script>
    var genres = new Set();
    document.addEventListener('click', () => {
        gen = document.querySelectorAll('.lang');
        genres.clear();
        for (i = 0; i < gen.length; i++) {
            if (gen[i].checked == true) {
                genres.add(gen[i].name);
            }
        }
        console.log(genres);
    });
</script>
<script>
    function fetch_mat(val) {
            fetch(`/incr_priority?name=${val}&num=5`)
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                })
        };
        function incr_preferece() {
            genres.forEach(fetch_mat);
        }
</script>
{% endblock %}

{% block body %}
<div class="opac">
    <div>
        <div class="lang-div">
            <input type="checkbox" class="lang " id="lang1" name="Action">
            <label for="lang1">Action</label>
        </div>
        <div class="lang-div">
            <input type="checkbox" class="lang " id="lang2" name="Adventure">
            <label for="lang2">Adventure</label>
        </div>
        <div class="lang-div">
            <input type="checkbox" class="lang " id="lang3" name="DarkMovies">
            <label for="lang3">DarkMovies</label>
        </div>
        <div class="lang-div">
            <input type="checkbox" class="lang " id="lang4" name="Drama">
            <label for="lang4">Drama</label>
        </div>

        <div class="lang-div">
            <input type="checkbox" class="lang " id="lang5" name="Fantasy">
            <label for="lang5">Fantasy</label>
        </div>
        <div class="lang-div">
            <input type="checkbox" class="lang " id="lang6" name="Musical">
            <label for="lang6">Musical</label>
        </div>
        <div class="lang-div">
            <input type="checkbox" class="lang " id="lang7" name="Romance">
            <label for="lang7">Romance</label>
        </div>
        <div class="lang-div">
            <input type="checkbox" class="lang " id="lang8" name="SciFi">
            <label for="lang8">Sci-fi</label>
        </div>

        <div class="lang-div">
            <input type="checkbox" class="lang " id="lang9" name="Thriller">
            <label for="lang9">Thriller</label>
        </div>

        <div class="lang-div">
            <input type="checkbox" class="lang " id="lang10" name="Comedy">
            <label for="lang10">Comedy</label>
        </div>


        <div class="lang-div">
            <input type="checkbox" class="lang " id="lang11" name="History">
            <label for="lang11">History</label>
        </div>


    </div>

    <div class="wrap">
        <a href="{% url 'loginindex' %}" class="button">Skip</a>
    </div>

    <div class="wrap">
        <a href="{% url 'loginindex' %}" class="button" onclick="incr_preferece()">Next</a>
    </div>
</div>
{% endblock %}