{% extends 'users/layout.html' %}

{% load static %}

{%block head%}
    <title>Language preference</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Georgia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat\Alternates' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=PT\ Sans' rel='stylesheet'>
    
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'users/prefer.css' %}">
        
        <script>
            colors = ['red', 'green', '#bbbb27', 'blue', 'orange']
            document.addEventListener('DOMContentLoaded', () => {
                buttons = document.querySelectorAll('label');
                for (i = 0; i < buttons.length; i++) {
                    buttons[i].style.backgroundColor = colors[i % colors.length];
                    //buttons[i].style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
                }
            })
        </script>
        
        <script>
            var genres = new Set();
            document.addEventListener('click', () => {
                genres = document.querySelectorAll('.genre');
                genres.clear();
                for (i = 0; i < genre.length; i++) {
                    if (genre[i].checked == true) {
                        genres.add(genre[i])
                    }
                }
                console.log(genres);
            });
        </script>
{% endblock %}

{% block body %}
<div class="opac">
    <div>
        <div class="lang-div">
            <input type="checkbox" class="lang " id="lang1" name="lang1">
            <label for="lang1">Action</label>
        </div>
        <div class="lang-div">
            <input type="checkbox" class="lang " id="lang2" name="lang2">
            <label for="lang2">Adventure</label>
        </div>
        <div class="lang-div">
            <input type="checkbox" class="lang " id="lang3" name="lang3">
            <label for="lang3">DarkMovies</label>
        </div>
        <div class="lang-div">
            <input type="checkbox" class="lang " id="lang4" name="lang4">
            <label for="lang4">Drama</label>
        </div>

        <div class="lang-div">
            <input type="checkbox" class="lang " id="lang5" name="lang5">
            <label for="lang5">Fantasy</label>
        </div>
        <div class="lang-div">
            <input type="checkbox" class="lang " id="lang6" name="lang6">
            <label for="lang6">Musical</label>
        </div>
        <div class="lang-div">
            <input type="checkbox" class="lang " id="lang7" name="lang7">
            <label for="lang7">Romance</label>
        </div>
        <div class="lang-div">
            <input type="checkbox" class="lang " id="lang8" name="lang8">
            <label for="lang8">Sci-fi</label>
        </div>

        <div class="lang-div">
            <input type="checkbox" class="lang " id="lang9" name="lang9">
            <label for="lang9">Thriller</label>
        </div>
		
		<div class="lang-div">
            <input type="checkbox" class="lang " id="lang9" name="lang9">
            <label for="lang9">Comedy</label>
        </div>
		
		
		<div class="lang-div">
            <input type="checkbox" class="lang " id="lang10" name="lang9">
            <label for="lang10">History</label>
        </div>
		
		
    </div>

    <div class="wrap">
        <a href="{% url 'home' %}" class="button">Skip</a>
    </div>

    <div class="wrap">
        <a href="{% url 'home' %}" class="button">Next</a>
    </div>
</div>
{% endblock %}