{% extends 'users/layout.html' %}

{% load static %}
{% block head %}
<title>Movie Reviews</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Georgia' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Montserrat\Alternates' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=PT\Sans' rel='stylesheet'>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


<link rel="stylesheet" href="{% static 'users/home.css' %}">
<link rel="stylesheet" href="{% static 'users/chatbot.css' %}">
<link rel="stylesheet" href="{% static 'users/signin.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js">
</script>
<style>
    .nav-link {
        margin: .5rem 1rem;
        padding: 0 .5rem 0 .5rem;
    }

    .btn-danger {
        color: #fff;
        float: right;
        background-color: #dc3545;
        border-color: #dc3545;
        margin: 1%;
    }
</style>
<script>
    function add_single_post(contents) {
        const card = document.createElement('div');
        if (contents.message != undefined) {
            card.innerHTML = contents.message;
        }
        else {
            let mid = contents.mid;
            let language = contents.language;
            let genre = contents.genre;
            let title = contents.title;
            let year = contents.year;
            let duration = contents.duration;
            let director = contents.director;
            let writer = contents.writer;
            let production = contents.production;
            let actors = contents.actors;
            let description = contents.description;
            let rating = contents.rating;
            console.log(mid);
            //card.className = 'movie-card';
            card.innerHTML = `{% include 'users/card_layout.html' with mid="${mid}" language="${language}" genre="${genre}" title="${title}" year="${year}" duration="${duration}" director="${director}" writer="${writer}" production="${production}" actors="${actors}" description="${description}" rating="${rating}" %}`;
        }

        // Add post to DOM
        document.querySelector('.cards-box').innerHTML = '';
        document.querySelector('.cards-box').append(card);
    };

    function add_post(contents) {
        const card = document.createElement('div');
        if (contents.message != undefined) {
            card.innerHTML = contents.message;
        }
        else {
            let mid = contents.mid;
            let language = contents.language
            let genre = contents.genre
            let title = contents.title
            let year = contents.year
            let duration = contents.duration
            let director = contents.director
            let writer = contents.writer
            let production = contents.production
            let actors = contents.actors
            let description = contents.description
            let rating = contents.rating
            console.log(mid)
            //card.className = 'movie-card';
            card.innerHTML = `{% include 'users/card_layout.html'  with  mid="${mid}" language="${language}" genre="${genre}" title="${title}" year="${year}" duration="${duration}" director="${director}" writer="${writer}" production="${production}" actors="${actors}" description="${description}" rating="${rating}" %}`;
            // Add post to DOM
        }
        document.querySelector('.cards-box').append(card);
    };
</script>
<script src="{% static 'users/main.js' %}"></script>

<script>
    function toogle_active(obj) {
        fetch(`/incr_priority?name=${obj.innerText}&num=1`)
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
            })
            if (!obj.classList.contains('b_active')) {
                obj.classList.add('b_active');
            }
            else {
                obj.classList.remove('b_active');
            }
            b_active_btns = document.querySelectorAll('.b_active');
            if (btn_count != b_active_btns.length) {
                btn_count = b_active_btns.length;
                counter = 1;
                btn_flag = 0;
            }
            get_data_g_l(b_active_btns);
        };
</script>

{% endblock %}



{% block body %}

<div style="width: 97%;height:100%;display: inline-flex; flex-direction: row; margin: 1%;">
    <div class="sidebar">
        <h2 style="font-family: Orbitron;">Language</h2>
        <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Hindi </button></p>
        <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Marathi</button></p>
        <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> English </button></p>
        <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> French </button></p>
        <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> German</button></p>
        <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Spanish </button></p>
        <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Russian </button></p>
        <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Italian </button></p>
        <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Japanese</button></p>
        <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Chinese</button></p>
    </div>
    <div class="content">
        <div class="top-bar">
            <span class="threeline" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
            <form class="searchbar" onsubmit="return search_post()" method="dialog">
                <input type="text" id="search" name="search" placeholder="Search..">
                <input type="submit" style="display: none;" value="submit" onclick="search_post()">
            </form>
            <a class="btn btn-danger me-2" type="button" href="{% url 'logout' %}">Logout</a>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked
                    onclick="changeTheme();">
                <label class="form-check-label" for="flexSwitchCheckChecked">Dark Mode</label>
            </div>
        </div>
        <nav class="big-nav navbar navbar-expand-lg navbar-dark ">
            <div class="container-fluid" style="display: inline-flex; flex-direction: row; flex-wrap: nowrap;">
                <a class="navbar-brand" href="#" style="font-family: Orbitron;">GENRE <a class="nav-link" style="color: white;" href="#" onfocus="remove_all()">Home</a></a>
                <div class="navbar-nav">
                    <div class="menu" id="menu">
                        <a class="nav-link" href="#" onclick="toogle_active(this)">Action</a>
                        <a class="nav-link" href="#" onclick="toogle_active(this)">Adventure</a>
                        <a class="nav-link " href="#" onclick="toogle_active(this)">DarkMovies</a>
                        <a class="nav-link" href="#" onclick="toogle_active(this)">Drama</a>
                        <a class="nav-link " href="#" onclick="toogle_active(this)">Fantasy</a>
                        <a class="nav-link" href="#" onclick="toogle_active(this)">Musical</a>
                        <a class="nav-link" href="#" onclick="toogle_active(this)">Romance</a>
                        <a class="nav-link " href="#" onclick="toogle_active(this)">Scifi</a>
                        <a class="nav-link " href="#" onclick="toogle_active(this)">Thriller</a>
                        <a class="nav-link " href="#" onclick="toogle_active(this)">Comedy</a>
                        <a class="nav-link " href="#" onclick="toogle_active(this)">History</a>
                    </div>
                </div>
            </div>
        </nav>



        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Hindi </button></p>
            <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Marathi</button></p>
            <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> English </button></p>
            <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> French </button></p>
            <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> German</button></p>
            <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Spanish </button></p>
            <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Russian </button></p>
            <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Italian </button></p>
            <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Japanese</button></p>
            <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Chinese</button></p>
        </div>
        <div class="cards-box" onscroll="check()">
            <!--<img class="loading" src="https://check-business.co.uk/static/img/loading.gif" />-->
        </div>

    </div>
</div>

<div id="loading" class="modal">
    <div id="building" style="font-size: 12px;" class="building">
        <div id="blocks">
            <div class="b" id="b1"></div>
            <div class="b" id="b2"></div>
            <div class="b" id="b3"></div>
            <div class="b" id="b4"></div>
        </div>
    </div>
</div>



<div class="chat-container" style="justify-content: right;"></div>
<div class="chat_icon">
    <i class="fa fa-comments" aria-hidden="true"></i>
</div>
<script src="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.js">
</script>
<script type="text/javascript">
    var chatroom = new window.Chatroom({
        host: "http://localhost:5005",
        title: "Movie suggestion bot",
        container: document.querySelector(".chat-container"),
        welcomeMessage: "Hi {{ student.stud_name }}, I am Movie suggesting bot. How may I help you?",
        speechRecognition: "en-US",
    });
    chatroom.openChat();
</script>
<script>
    var toggle = true;
    document.querySelector('.chat_icon').onclick = () => {
        var chatroom = document.querySelector('.chatroom');
        if (toggle == true) {
            chatroom.classList.add('active');
            toggle = false;
        }
        else {
            chatroom.classList.remove('active');
            toggle = true;
        }

    };
</script>
{% endblock %}