{% extends 'users/layout.html' %}

{% load static %}
{% block head %}
<title>Movie Reviews</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Georgia' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Montserrat\Alternates' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=PT\Sans' rel='stylesheet'>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


<link rel="stylesheet" href="{% static 'users/home.css' %}">
<link rel="stylesheet" href="{% static 'users/chatbot.css' %}">
<link rel="stylesheet" href="{% static 'users/signin.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js">
</script>
<style>
    .nav-link {
        margin: .5rem 1rem;
        padding: 0 .5rem 0 .5rem;
    }

    .btn-danger {
        color: #fff;
        float: right;
        background-color: #dc3545;
        border-color: #dc3545;
        margin: 1%;
    }
</style>
<script>
function add_single_post(contents) {
const card = document.createElement('div');
if (contents.message != undefined) {
card.innerHTML = contents.message;
}
else {
let mid = contents.mid;
let language = contents.language;
let genre = contents.genre;
let title = contents.title;
let year = contents.year;
let duration = contents.duration;
let director = contents.director;
let writer = contents.writer;
let production = contents.production;
let actors = contents.actors;
let description = contents.description;
let rating = contents.rating;
console.log(mid);
//card.className = 'movie-card';
card.innerHTML = `{% include 'users/card_layout.html' with mid="${mid}" language="${language}" genre="${genre}" title="${title}" year="${year}" duration="${duration}" director="${director}" writer="${writer}" production="${production}" actors="${actors}" description="${description}" rating="${rating}" %}`;
}

// Add post to DOM
document.querySelector('.cards-box').innerHTML = '';
document.querySelector('.cards-box').append(card);
};

    function add_post(contents) {
        const card = document.createElement('div');
        if (contents.message != undefined) {
            card.innerHTML = contents.message;
        }
        else {
            let mid = contents.mid;
            let language = contents.language
            let genre = contents.genre
            let title = contents.title
            let year = contents.year
            let duration = contents.duration
            let director = contents.director
            let writer = contents.writer
            let production = contents.production
            let actors = contents.actors
            let description = contents.description
            let rating = contents.rating
            console.log(mid)
            //card.className = 'movie-card';
            card.innerHTML = `{% include 'users/card_layout.html'  with  mid="${mid}" language="${language}" genre="${genre}" title="${title}" year="${year}" duration="${duration}" director="${director}" writer="${writer}" production="${production}" actors="${actors}" description="${description}" rating="${rating}" %}`;
            // Add post to DOM
        }
        document.querySelector('.cards-box').append(card);
    };
</script>
<script src="{% static 'users/main.js' %}"></script>


{% endblock %}

{% block body %}

{% if logincard %}
<style>
    #login-card {
        display: flex;
    }
</style>
{% else %}
<style>
    #login-card {
        display: none;
    }
</style>
{% endif %}

{% if signupcard %}
<style>
    #sign-card {
        display: flex;
    }
</style>
{% else %}
<style>
    #sign-card {
        display: none;
    }
</style>
{% endif %}


<div style="width: 97%;height:100%;display: inline-flex; flex-direction: row; margin: 1%;">
    <div class="sidebar">
        <h2 style="font-family: Orbitron;">Language</h2>
        <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Hindi </button></p>
        <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Marathi</button></p>
        <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> English </button></p>
        <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> French </button></p>
        <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> German</button></p>
        <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Spanish </button></p>
        <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Russian </button></p>
        <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Italian </button></p>
        <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Japanese</button></p>
        <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Chinese</button></p>
    </div>
    <div class="content">
        <div class="top-bar">
            <span class="threeline" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
            <form class="searchbar" onsubmit="return search_post()" method="dialog">
                <input type="text" id="search" name="search" placeholder="Search..">
                <input type="submit" style="display: none;" value="submit" onclick="search_post()">
            </form>
            <a class="btn btn-danger me-2" type="button" href="{% url 'login' %}">SignIn</a>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked
                    onclick="changeTheme();">
                <label class="form-check-label" for="flexSwitchCheckChecked">Dark Mode</label>
            </div>
        </div>
        <nav class="big-nav navbar navbar-expand-lg navbar-dark ">
            <div class="container-fluid" style="display: inline-flex; flex-direction: row; flex-wrap: nowrap;">
                <a class="navbar-brand" href="#" style="font-family: Orbitron;">GENRE</a>
                <div class="navbar-nav">
                    <div class="menu" id="menu">
                        <a class="nav-link" href="#" onclick="toogle_active(this)">Action</a>
                        <a class="nav-link" href="#" onclick="toogle_active(this)">Adventure</a>
                        <a class="nav-link " href="#" onclick="toogle_active(this)">DarkMovies</a>
                        <a class="nav-link" href="#" onclick="toogle_active(this)">Drama</a>
                        <a class="nav-link " href="#" onclick="toogle_active(this)">Fantasy</a>
                        <a class="nav-link" href="#" onclick="toogle_active(this)">Musical</a>
                        <a class="nav-link" href="#" onclick="toogle_active(this)">Romance</a>
                        <a class="nav-link " href="#" onclick="toogle_active(this)">Scifi</a>
                        <a class="nav-link " href="#" onclick="toogle_active(this)">Thriller</a>
                        <a class="nav-link " href="#" onclick="toogle_active(this)">Comedy</a>
                        <a class="nav-link " href="#" onclick="toogle_active(this)">History</a>
                    </div>
                </div>
            </div>
        </nav>



        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Hindi </button></p>
            <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Marathi</button></p>
            <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> English </button></p>
            <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> French </button></p>
            <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> German</button></p>
            <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Spanish </button></p>
            <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Russian </button></p>
            <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Italian </button></p>
            <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Japanese</button></p>
            <p><button type="submit" class="lang_btn" onclick="toogle_active(this)"> Chinese</button></p>
        </div>
        <div class="cards-box" onscroll="check()">
            <!--<img class="loading" src="https://check-business.co.uk/static/img/loading.gif" />-->
        </div>

    </div>
</div>

<div id="loading" class="modal">
    <div id="building" style="font-size: 12px;" class="building">
        <div id="blocks">
            <div class="b" id="b1"></div>
            <div class="b" id="b2"></div>
            <div class="b" id="b3"></div>
            <div class="b" id="b4"></div>
        </div>
    </div>
</div>

<div id="login-card" class="modal">

    <form action="{% url 'login' %}" class="modal-content animate" method="post">

        {% csrf_token %}
        <div class="imgcontainer">
            <a class="btn me-2 active" href="{% url 'login' %}"
                onclick="document.getElementById('login-card').style.display='flex',document.getElementById('sign-card').style.display='none'">LOGIN</a>
            <a class="btn me-2 deactive" href="{% url 'signup' %}"
                onclick="document.getElementById('login-card').style.display='none'">SIGN
                UP</a>
            <a href="{% url 'home' %}"><span onclick="document.getElementById('login-card').style.display='none'"
                    class="close" title="Close Modal">&times;</span></a>
        </div>


        <svg class="svg" height="100%" width="100%">
            <defs>
                <linearGradient inkscape:collect="always" id="linearGradient" x1="13" y1="193.49992" x2="307"
                    y2="193.49992" gradientUnits="userSpaceOnUse">
                    <stop style="stop-color:#ff00ff;" offset="0" id="stop876" />
                    <stop style="stop-color:#ff0000;" offset="1" id="stop878" />
                </linearGradient>
            </defs>
            <path class="path"
                d="m 19,175.00016 439.99984,-3.2e-4 c 0,0 25.99263,0.79932 20.00016,79.00016 0.008,35.20084 -49.00016,30 -110.00016,30 h -339.99984 c 0,-0.0205 -25,4.01348 -27,20.5 0,50.48652 10,50.5 25,50.5 h 310 c 0,0 20,-0.99604 20,-25 0,-25.00396 -20,-25 -20,-25 h -130 c 0,0 -20,1.71033 -20,25 0,27.00396 20,25 10,25 h 128.57143" />
        </svg>
        <div class="container2">
            <label class="label" for="username"><b>Username</b></label>
            <input autofocus class="username" type="text" placeholder="Enter Username" name="username" required>

            <label class="label" for="password"><b>Password</b></label>
            <input class="password" type="password" placeholder="Enter Password" name="password" required>

            {% if message %}
            <p style="color: red;">{{message}}</p>
            {% endif %}
            <div style="text-align: center; width: 100%; margin-top: 2%;">
                <button type="submit" class="login_submit btn btn-outline-success" style="width: 150px;">Login</button>
            </div>
        </div>



        <div class="container2" style="background-color: #474A59;">
            <a type="button" href="{% url 'home' %}"
                onclick="document.getElementById('login-card').style.display='none'"
                class="cancelbtn btn btn-danger">Cancel</a>
        </div>
    </form>
</div>


<div id="sign-card" class="modal">

    <form action="{% url 'signup' %}" class="modal-content animate" method="post">

        {% csrf_token %}
        <div class="imgcontainer">
            <a class="btn me-2 deactive" href="{% url 'login' %}"
                onclick="document.getElementById('login-card').style.display='flex',document.getElementById('sign-card').style.display='none'">LOGIN</a>
            <a class="btn me-2 active" href="{% url 'signup' %}"
                onclick="document.getElementById('sign-card').style.display='flex', document.getElementById('login-card').style.display='none'">SIGN
                UP</a>
            <a href="{% url 'home' %}"><span onclick="document.getElementById('sign-card').style.display='none'; "
                    class="close" title="Close Modal">&times;</span></a>
        </div>


        <div class="container2">
            {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            </p>
            {% endfor %}
            <div style="text-align: center; width: 100%; margin-top: 2%;">
                <button type="submit" class="btn btn-outline-success" style="width: 150px;">Login</button>
            </div>
        </div>

        <div class="container2" style="background-color: #474A59;">
            <a href="{% url 'home' %}" onclick="document.getElementById('sign-card').style.display='none'"
                class="btn btn-danger cancelbtn">Cancel</a>

        </div>
    </form>
</div>

<div class="chat-container" style="justify-content: right;"></div>
<div class="chat_icon">
    <i class="fa fa-comments" aria-hidden="true"></i>
</div>
<script src="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.js">
</script>
<script type="text/javascript">
    var chatroom = new window.Chatroom({
        host: "http://localhost:5005",
        title: "Movie suggestion bot",
        container: document.querySelector(".chat-container"),
        welcomeMessage: "Hi {{ student.stud_name }}, I am Movie suggesting bot. How may I help you?",
        speechRecognition: "en-US",
    });
    chatroom.openChat();
</script>
<script>
    var toggle = true;
    document.querySelector('.chat_icon').onclick = () => {
        var chatroom = document.querySelector('.chatroom');
        if (toggle == true) {
            chatroom.classList.add('active');
            toggle = false;
        }
        else {
            chatroom.classList.remove('active');
            toggle = true;
        }

    };
</script>
{% endblock %}