* {
   -ms-overflow-style: none;
    scrollbar-width: none;
}
    
*::-webkit-scrollbar {
  display: none;
}
body{
    background-color: black;
}
.navbar{
    display: inline-flex;
    width: 100%;
}
.navbar-nav{
    width: 100%;
}

.nav-link{
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 17px;
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 2rem;
    margin-left: 2rem;
}
.nav-link:focus{
    box-shadow: 0 0 8px 4px #20ADAE, 0 0 8px 4px #20ADAE;
    border-radius: 3px; 
}
.nav-link:hover{
    color: #20ADAE;
}
}
.container{
    display: inline-flex;
    height: 100%;
    top: 0;
    margin-left: 0;
}
h2{
    color: white;
}
.column {
  float: left;
  padding-top : 40px;
  padding-left : 30px;
  background-color : #3E4040;
  padding-right: 50px;
  padding-bottom : 30px;
}
.sidebar {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  margin: 0;
  padding: 20px;
  width: fit-content;
  background-color: #3E4040;
  overflow: auto;
}

button{ 
align-items: center;
margin-top : 30px;
color : white;
background : none;
border : none ;
font-size : 17px;}
button:focus 
 {
    box-shadow: 0 0 8px 4px #20ADAE, 0 0 8px 4px #20ADAE;
    border-radius: 3px; 
    outline: none;
 }
 button:hover
 {
    box-shadow: 0 0 8px 4px #20ADAE, 0 0 8px 4px #20ADAE;
    border-radius: 3px; 
    outline: none;
 }
 input[type=text] {
     align-items: right;
  float : right;
  width: 130px;
  border: 2px solid #20ADAE;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  background-color: black;
  background: url('search.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin-right: 0!important;
}
input[type=text]:focus {
  width: 75%;
  border: 2px solid #20ADAE;
  outline: none;
}

.content{
    display: inline-flex;
    flex-direction: column;
    width: 83%;
    align-items: center;
}
.menu{
    scroll-behavior: smooth;
    overflow: scroll;
    display: inline-flex; 
    flex-direction: row;
}
.small-nav{
    display: none;
}
.img2{
    align-items: center;
    text-align: center;
    height: 50%;
}
 #img2{
   
   border-radius: 5px 5px 0 0;
   margin-top: 3.5rem;
   margin-bottom: 2rem;
 
 }
 .movie-card {
     margin: 2%;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(230, 181, 181, 0.2);
  transition: 0.3s;
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  width: 80%;
  
}

.movie-card:hover {
  box-shadow: 0 8px 16px 0 rgba(235, 202, 202, 0.2);
}
#more
{
  display: none;
}
 .card-content{
    color: white;
    text-align: center;
    width: 75%;
    border: 3px solid black;
    
  
  }
@media(max-width:680px){
    .sidebar{
        display: none;
    }
    .content{
        width: 100%;
    }
}